:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container{
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
  box-shadow: 20px 20px #a5b8a7;
  width: fit-content;
  padding: 20px 100px;
  justify-self: center;
}

.login-container form{
  display: block;
}

.login-container input{
  padding: 10px 20px;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 15px;
}

.login-container button{
  padding: 10px 20px;
  border: 2px solid #7dd8e8;
  border-radius: 1000px;
  width: 300px;
  background-color: #7dd8e8;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-container button:hover{
  border: 2px solid #93BFC7;
  background-color: #93BFC7;
  font-weight: bold;
  box-shadow: 5px 5px #7ba1a8;
  transform: translateY(-10px);
}

form{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.todolist-form{
  background-color: #ECF4E8;
  position: sticky;
  top: 0;
  padding: 20px 0;
}

.todo-input{
  padding: 10px 20px;
  width: 300px;
  border: 2px solid #ABE7B2;
  border-radius: 10px 0 0 10px;
}

.todo-button{
  padding: 10px 20px;
  border: 2px solid #ABE7B2;
  border-radius: 0 10px 10px 0;
  background-color: #ABE7B2;
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo-button:hover{
  background-color: #8cbd91;
  border: 2px solid #8cbd91;
}

.filter-todo{
  padding: 10px 20px;
  border: 2px solid #ABE7B2;
  border-radius: 10px;
  cursor: pointer;
}

.select{
  margin-left: 30px;
}

.todo{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.todo li{
  list-style-type: none;
}

.todo-item{
  padding: 10px 20px;
  border: 2px solid #b1e6f0;
  border-radius: 10px 0 0 10px;
  background-color: white;
  width: 300px;
  overflow-x:auto;
}

.complete-btn, .trash-btn{
  padding: 10px 20px;
  border: 2px solid #b1e6f0;
  background-color: #b1e6f0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.complete-btn:hover, .trash-btn:hover{
  border: 2px solid #93BFC7;
  background-color: #93BFC7;
}

.trash-btn{
  border-radius: 0 10px 10px 0;
}

.completed{
  text-decoration: line-through;
  color: #c4c4c4;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ECF4E8;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
