.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container > div {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.hehe{
    border: 5px solid red;
    padding: 5px;
    text-align: center;
}

.container_cats{
    border: 5px solid none;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.container_cats img{
    width: 100px;
}